.titulo{
  width: 100%;

}
.titulo img{
  min-width: 200px;
  width: 15%;
  margin: auto ;
}
.card{
  padding: 3em 1em;
  width: 90%;
  height: 75vh;
  margin: auto;
}
mat-card-content{
  position: relative;
  width: 100%;
  height: 100%;
}
.card iframe{
  position:absolute;
  width:100%;
  height:90%;
  top:0px;left:0px;right:0px;bottom:0px;
  overflow: hidden;
}
@media (max-width:768px){
  .card{
    width: 95%;
    padding: 3em 0em;
  }
  .titulo{
    margin-bottom: 50px;
  }
  .card iframe{
    width:100%;

  }
}
